In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset = pd.read_csv('E://Data_Science_AI_Master_Program//Data Science//customer_churn_dataset_new.csv')
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,3].values

In [5]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

In [6]:
#Getting the Missing Values/Datas in Dependent varaibale
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])
#Categorical Data
from sklearn.preprocessing import LabelEncoder ,OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder_X=LabelEncoder()
X[:,0]= labelencoder_X.fit_transform(X[:,0])
onehotencoder = ColumnTransformer([( "Country", OneHotEncoder(), [0])], remainder = 'passthrough')

In [8]:
print(dataset)

        Customer Id  Account Balance  Min Balance  Max Balance  Annual Income  \
0              1000          6471.37      6412.30      6627.08       60177.93
1              1001          8530.49      7028.18     10372.52       70074.33
2              1002         11324.34      6057.07     13275.16      116521.06
3              1003          8055.84      3832.26      8895.83       49277.74
4              1004         11020.54      5591.65     12032.74      159679.98
...             ...              ...          ...          ...            ...
299995       300995          8743.58      8144.06     10609.89       32686.05
299996       300996          7416.78      7009.85      9370.48       99345.36
299997       300997          9155.73      6157.49     10555.90      127258.35
299998       300998          3208.90      2443.24      5469.76       23829.75
299999       300999          9707.26      8467.83     10156.13       83515.67

       Banking Behaviour       Products Account Type  \
0                    Low    Credit Card       Salary
1                   High  Personal Loan       Salary
2                 Medium    Credit Card       Salary
3                 Medium  Personal Loan       Salary
4                   High    Credit Card      Current
...                  ...            ...          ...
299995              High  Business Loan      Current
299996               Low      Home Loan      Current
299997              High  Business Loan      Savings
299998              High  Business Loan      Savings
299999            Medium      Home Loan       Salary

        Low Transaction Frequency  Large Withdrawals or Transfers  ...  \
0                           False                           False  ...
1                           False                           False  ...
2                            True                           False  ...
3                            True                           False  ...
4                            True                           False  ...
...                           ...                             ...  ...
299995                      False                           False  ...
299996                      False                           False  ...
299997                      False                            True  ...
299998                      False                           False  ...
299999                      False                           False  ...

        Transcation Type  Transcation Channel  Average Transaction Amount  \
0                  Debit                  UPI                    6519.690
1                 Credit  Visiting the branch                    8700.350
2                 Credit  Visiting the branch                    9666.115
3                 Credit                  ATM                    6364.045
4                 Credit  Visiting the branch                    8812.195
...                  ...                  ...                         ...
299995            Credit           Netbanking                    9376.975
299996             Debit                  UPI                    8190.165
299997            Credit                  ATM                    8356.695
299998            Credit           Netbanking                    3956.500
299999            Credit  Visiting the branch                    9311.980

        Number of Transactions monthly_emi_deduction Outstanding EMI Left  \
0                            5               1821.98             21863.80
1                           36                  0.00                 0.00
2                           74                  0.00                 0.00
3                           78               5100.23            122405.46
4                            9               2622.32             31467.79
...                        ...                   ...                  ...
299995                      14              15280.78            916846.52
299996                      97              18833.00           4519921.11
299997                      98               9406.99            564419.64
299998                      71              31212.21           1872732.66
299999                      44              17775.80           4266192.21

        EMI Going On    Investments  Credit Card Utilization  Churn
0                Yes  Fixed Deposit                      LOW   True
1                 No            SIP                   MEDIUM   True
2                 No           GOLD                     HIGH   True
3                Yes  Fixed Deposit                      LOW   True
4                Yes            SIP                      LOW   True
...              ...            ...                      ...    ...
299995           Yes           GOLD                   MEDIUM   True
299996           Yes  Fixed Deposit                   MEDIUM  False
299997           Yes  Fixed Deposit                     HIGH   True
299998           Yes            SIP                   MEDIUM   True
299999           Yes           GOLD                      LOW  False

[300000 rows x 24 columns]

In [15]:
# Import necessary libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris
# Load sample data (Iris dataset)
data = load_dataset()
X, y = data.data, data.target
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
random_state=42)
# Create and train the Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
# Make predictions
predictions = model.predict(X_test)
# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy:.2f}')

NameError: name 'load_dataset' is not defined

In [1]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Drop unnecessary columns
data_cleaned = dataset.drop(columns=["Customer Id"])

# Encode categorical columns using LabelEncoder
categorical_columns = data_cleaned.select_dtypes(include='object').columns
label_encoders = {col: LabelEncoder() for col in categorical_columns}

for col in categorical_columns:
    data_cleaned[col] = label_encoders[col].fit_transform(data_cleaned[col])

# Scale numerical columns
numerical_columns = data_cleaned.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
data_cleaned[numerical_columns] = scaler.fit_transform(data_cleaned[numerical_columns])

# Confirm the dataset is ready
data_cleaned.head()

NameError: name 'dataset' is not defined

In [11]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Drop unnecessary columns
data_cleaned = data_new.drop(columns=["Customer Id"])

# Encode categorical columns using LabelEncoder
categorical_columns = data_cleaned.select_dtypes(include='object').columns
label_encoders = {col: LabelEncoder() for col in categorical_columns}

for col in categorical_columns:
    data_cleaned[col] = label_encoders[col].fit_transform(data_cleaned[col])

# Scale numerical columns
numerical_columns = data_cleaned.select_dtypes(include=['float64', 'int64']).columns
scaler = StandardScaler()
data_cleaned[numerical_columns] = scaler.fit_transform(data_cleaned[numerical_columns])

# Confirm the dataset is ready
data_cleaned.head()

NameError: name 'data_new' is not defined

In [2]:
data_cleaned = customer_churn_dataset_new.drop(columns=["Customer Id"])

NameError: name 'customer_churn_dataset_new' is not defined