In [1]:
pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\nishitha anil\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\nishitha anil\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nishitha anil\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nishitha anil\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nishitha anil\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nishitha anil\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nishitha anil\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import mysql.connector

# Load CSV file into a pandas DataFrame
csv_file = "E:/Data_Science_AI_Master_Program/archive/udemy_courses.csv"  # Path to your CSV file
df = pd.read_csv(csv_file)

# Establish MySQL connection
connection = mysql.connector.connect(
    host="localhost",   # Replace with your MySQL host
    user="root",  # Replace with your MySQL username
    password="root",  # Replace with your MySQL password
    database="studentmanagement"  # Replace with your MySQL database
)

cursor = connection.cursor()

# Insert data into MySQL table row by row
for i, row in df.iterrows():
    # Prepare insert query - you should adjust this to match your table structure
    sql = "INSERT INTO  (course_id, course_name, course_description, credit_hours) VALUES (%s, %s, %s, %s)"
    cursor.execute(sql, tuple(row))

# Commit the transaction
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

print("Data inserted successfully!")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(course_id, course_name, course_description, credit_hours) VALUES (1070968, 'Ult' at line 1