In [4]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="machine_learning_data"
)
cursor = connection.cursor()
""" create table create  table Student_Performs_Factor (Hours_Studied INT,
Attendance VARCHAR(1000),Parental_Involvement VARCHAR(1000),	
Access_to_Resources VARCHAR(1000),Extracurricular_Activities VARCHAR(1000),	
Sleep_Hours VARCHAR(1000),Previous_Scores VARCHAR(1000),	
Motivation_Level VARCHAR(1000)	,Internet_Access VARCHAR(1000),	
Tutoring_Sessions VARCHAR(1000),Family_Income VARCHAR(1000),
Teacher_Quality VARCHAR(1000),	School_Type VARCHAR(1000),	Peer_Influence VARCHAR(1000),
Physical_Activity VARCHAR(1000), Learning_Disabilities VARCHAR(1000),	
Parental_Education_Level VARCHAR(1000),	Distance_from_Home	 VARCHAR(1000),
Gender VARCHAR(1000),	Exam_Score VARCHAR(1000)) """

sql_insert = """INSERT INTO Student_Performs_Factor (Hours_Studied INT,
Attendance VARCHAR(1000),Parental_Involvement VARCHAR(1000),	
Access_to_Resources VARCHAR(1000),Extracurricular_Activities VARCHAR(1000),	
Sleep_Hours VARCHAR(1000),Previous_Scores VARCHAR(1000),	
Motivation_Level VARCHAR(1000)	,Internet_Access VARCHAR(1000),	
Tutoring_Sessions VARCHAR(1000),Family_Income VARCHAR(1000),
Teacher_Quality VARCHAR(1000),	School_Type VARCHAR(1000),	Peer_Influence VARCHAR(1000),
Physical_Activity VARCHAR(1000), Learning_Disabilities VARCHAR(1000),	
Parental_Education_Level VARCHAR(1000),	Distance_from_Home	 VARCHAR(1000),
Gender VARCHAR(1000),	Exam_Score VARCHAR(1000)) VALUES =("23",	"84",	"Low",	"High"	,"No"	,"7",	"73",	"Low",	"Yes",	"0",	"Low",
                                                          "Medium",	"Public	Positive",	"3",	"No",	"High School",	"Near",	"Male",	"67")"""