In [1]:
pip install PyMySQL

Collecting PyMySQLNote: you may need to restart the kernel to use updated packages.

  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 660.6 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 739.0 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import xlrd

In [3]:
pip install xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

import mysql.connector

# Step 1: Read the Excel file
excel_file = 'E:/Data_Science_AI_Master_Program/archive/udemy_courses.csv'
# Step 2: Create a connection to the MySQL database
db_connection = mysql.connector.connect(
     host='localhost',
    database='studentmanagement',
    user='root',
    password='root'
)

# Step 3: Create a cursor object

df = pd.read_csv(excel_file)
cursor = db_connection.cursor()
sql = "insert into Courses(course_id, course_name, course_description, credit_hours) VALUES (%s, %s, %s,%s)"
# Step 4: Insert data row by row
for _, row in df.iterrows():  

    cursor.execute(sql, tuple(row))
    db_connection.commit()

# Step 5: Commit the transaction and close the connection

cursor.close()
db_connection.close()

print("Data inserted successfully!")

DataError: 1406 (22001): Data too long for column 'course_name' at row 1

In [8]:
SHOW ENGINE INNODB STATUS;

SyntaxError: invalid syntax (1272399945.py, line 1)

In [9]:
SET innodb_lock_wait_timeout = 120;

SyntaxError: invalid syntax (3125941772.py, line 1)