In [1]:
import mysql.connector as conn

In [7]:
connection=conn.connect(
    host="localhost",
    user="root",
password="root",
database="datascience"
)

In [8]:
cursor=connection.cursor()

In [17]:
cursor.execute("select * from orders")

In [10]:
results=cursor.fetchall()

In [18]:
results=cursor.fetchall()
for row in results:
    print(row)

(200100, 1000, 600, 8012008, 'C00013', 'A003', 'SOD')
(200101, 3000, 1000, 7152008, 'C00001', 'A008', 'SOD')
(200102, 2000, 300, 5252008, 'C00012', 'A012', 'SOD')
(200103, 1500, 700, 5152008, 'C00021', 'A005', 'SOD')
(200104, 1500, 500, 3132008, 'C00006', 'A004', 'SOD')
(200105, 2500, 500, 7182008, 'C00025', 'A011', 'SOD')
(200106, 2500, 700, 4202008, 'C00005', 'A002', 'SOD')
(200107, 4500, 900, 8302008, 'C00007', 'A010', 'SOD')
(200108, 4000, 600, 2152008, 'C00008', 'A004', 'SOD')
(200109, 3500, 800, 7302008, 'C00011', 'A010', 'SOD')
(200110, 3000, 500, 4152008, 'C00019', 'A010', 'SOD')
(200111, 1000, 300, 7102008, 'C00020', 'A008', 'SOD')
(200112, 2000, 400, 5302008, 'C00016', 'A007', 'SOD')
(200113, 4000, 600, 6102008, 'C00022', 'A002', 'SOD')
(200114, 3500, 2000, 8152008, 'C00002', 'A008', 'SOD')
(200116, 500, 100, 7132008, 'C00010', 'A009', 'SOD')
(200117, 800, 200, 10202008, 'C00014', 'A001', 'SOD')
(200118, 500, 100, 7022008, 'C00023', 'A006', 'SOD')
(200119, 4000, 700, 9162008, 'C00007', 'A010', 'SOD')
(200120, 500, 100, 7202008, 'C00009', 'A002', 'SOD')
(200121, 1500, 600, 9232008, 'C00008', 'A004', 'SOD')
(200122, 2500, 400, 9162008, 'C00003', 'A004', 'SOD')
(200123, 500, 100, 9162008, 'C00022', 'A002', 'SOD')
(200124, 500, 100, 6202008, 'C00017', 'A007', 'SOD')
(200125, 2000, 600, 10102008, 'C00018', 'A005', 'SOD')
(200126, 500, 100, 6242008, 'C00022', 'A002', 'SOD')
(200127, 2500, 400, 7202008, 'C00015', 'A003', 'SOD')
(200128, 3500, 1500, 7202008, 'C00009', 'A002', 'SOD')
(200129, 2500, 500, 7202008, 'C00024', 'A006', 'SOD')
(200130, 2500, 400, 7302008, 'C00025', 'A011', 'SOD')
(200131, 900, 150, 8262008, 'C00012', 'A012', 'SOD')
(200133, 1200, 400, 6292008, 'C00009', 'A002', 'SOD')
(200134, 4200, 1800, 9252008, 'C00004', 'A005', 'SOD')
(200135, 2000, 800, 9162008, 'C00007', 'A010', 'SOD')

In [25]:
cursor.execute("""SELECT c.CUST_NAME, SUM(s.sales_amount) AS total_spent FROM customer c JOIN orders o ON 
c.CUST_CODE = o.CUST_CODE JOIN sales s ON o.ORD_NUM = s.sales_id GROUP BY c.CUST_NAME ORDER BY 
total_spent DESC """)
results=cursor.fetchall()
for row in results:
    print(row)

('Ramanathan', Decimal('18000.00'))
('Holmes', Decimal('15000.00'))
('Venkatpati', Decimal('15000.00'))
('Albert', Decimal('14000.00'))
('Steven', Decimal('12000.00'))
('Yearannaidu', Decimal('12000.00'))
('Sundariya', Decimal('11000.00'))
('Shilton', Decimal('9000.00'))
('Micheal', Decimal('8000.00'))
('Sasikant', Decimal('7000.00'))
('Ravindran', Decimal('6000.00'))
('Jacks', Decimal('5000.00'))
('Karolina', Decimal('4000.00'))

In [26]:
connection.commit()

In [1]:
import mysql.connector as conn

In [11]:
connection=conn.connect(
    host="localhost",
    user="root",
password="root",
database="machine_learning_data"
)
cursor=connection.cursor()

""" create table WalMart_data (Store INT,Dept VARCHAR(100) NOT NULL,DT Date,Weekly_Sales VARCHAR(100),
MarkDown1 VARCHAR(100),MarkDown2 VARCHAR(100),MarkDown3 VARCHAR(100),MarkDown4 VARCHAR(100),MarkDown5 VARCHAR(100),IsHoliday VARCHAR(100),Sample_Weight VARCHAR(50));"""

cursor.execute (sql_insert = INSERT INTO WalMart_data (Store INT,Dept VARCHAR(100) NOT NULL,DT Date,Weekly_Sales VARCHAR(100),
MarkDown1 VARCHAR(100),MarkDown2 VARCHAR(100),MarkDown3 VARCHAR(100),MarkDown4 VARCHAR(100),MarkDown5 VARCHAR(100),IsHoliday VARCHAR(100),
Sample_Weight VARCHAR(50)
,values=(1,'dep01','2024-09-12','1000','1000','1900','1200','1800','900','2000','1000');)

(sql_insert, values)
connection.commit()
print(cursor.rowcount, "record inserted.")
connection.close()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (682116155.py, line 12)