In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('E://Data_Science_AI_Master_Program//Data Science//customer_churn_dataset_new.csv')
print(df)

        Customer Id  Account Balance  Min Balance  Max Balance  Annual Income  \
0              1000          6471.37      6412.30      6627.08       60177.93
1              1001          8530.49      7028.18     10372.52       70074.33
2              1002         11324.34      6057.07     13275.16      116521.06
3              1003          8055.84      3832.26      8895.83       49277.74
4              1004         11020.54      5591.65     12032.74      159679.98
...             ...              ...          ...          ...            ...
299995       300995          8743.58      8144.06     10609.89       32686.05
299996       300996          7416.78      7009.85      9370.48       99345.36
299997       300997          9155.73      6157.49     10555.90      127258.35
299998       300998          3208.90      2443.24      5469.76       23829.75
299999       300999          9707.26      8467.83     10156.13       83515.67

       Banking Behaviour       Products Account Type  \
0                    Low    Credit Card       Salary
1                   High  Personal Loan       Salary
2                 Medium    Credit Card       Salary
3                 Medium  Personal Loan       Salary
4                   High    Credit Card      Current
...                  ...            ...          ...
299995              High  Business Loan      Current
299996               Low      Home Loan      Current
299997              High  Business Loan      Savings
299998              High  Business Loan      Savings
299999            Medium      Home Loan       Salary

        Low Transaction Frequency  Large Withdrawals or Transfers  ...  \
0                           False                           False  ...
1                           False                           False  ...
2                            True                           False  ...
3                            True                           False  ...
4                            True                           False  ...
...                           ...                             ...  ...
299995                      False                           False  ...
299996                      False                           False  ...
299997                      False                            True  ...
299998                      False                           False  ...
299999                      False                           False  ...

        Transcation Type  Transcation Channel  Average Transaction Amount  \
0                  Debit                  UPI                    6519.690
1                 Credit  Visiting the branch                    8700.350
2                 Credit  Visiting the branch                    9666.115
3                 Credit                  ATM                    6364.045
4                 Credit  Visiting the branch                    8812.195
...                  ...                  ...                         ...
299995            Credit           Netbanking                    9376.975
299996             Debit                  UPI                    8190.165
299997            Credit                  ATM                    8356.695
299998            Credit           Netbanking                    3956.500
299999            Credit  Visiting the branch                    9311.980

        Number of Transactions monthly_emi_deduction Outstanding EMI Left  \
0                            5               1821.98             21863.80
1                           36                  0.00                 0.00
2                           74                  0.00                 0.00
3                           78               5100.23            122405.46
4                            9               2622.32             31467.79
...                        ...                   ...                  ...
299995                      14              15280.78            916846.52
299996                      97              18833.00           4519921.11
299997                      98               9406.99            564419.64
299998                      71              31212.21           1872732.66
299999                      44              17775.80           4266192.21

        EMI Going On    Investments  Credit Card Utilization  Churn
0                Yes  Fixed Deposit                      LOW   True
1                 No            SIP                   MEDIUM   True
2                 No           GOLD                     HIGH   True
3                Yes  Fixed Deposit                      LOW   True
4                Yes            SIP                      LOW   True
...              ...            ...                      ...    ...
299995           Yes           GOLD                   MEDIUM   True
299996           Yes  Fixed Deposit                   MEDIUM  False
299997           Yes  Fixed Deposit                     HIGH   True
299998           Yes            SIP                   MEDIUM   True
299999           Yes           GOLD                      LOW  False

[300000 rows x 24 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 24 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Customer Id                               300000 non-null  int64
 1   Account Balance                           300000 non-null  float64
 2   Min Balance                               300000 non-null  float64
 3   Max Balance                               300000 non-null  float64
 4   Annual Income                             300000 non-null  float64
 5   Banking Behaviour                         300000 non-null  object
 6   Products                                  300000 non-null  object
 7   Account Type                              300000 non-null  object
 8   Low Transaction Frequency                 300000 non-null  bool
 9   Large Withdrawals or Transfers            300000 non-null  bool
 10  Inactive Online Banking/Mobile App Usage  300000 non-null  bool
 11  High Complaint Count                      300000 non-null  bool
 12  Low Product Utilization                   300000 non-null  bool
 13  Drop in Account Balance                   300000 non-null  bool
 14  Transcation Type                          300000 non-null  object
 15  Transcation Channel                       300000 non-null  object
 16  Average Transaction Amount                300000 non-null  float64
 17  Number of Transactions                    300000 non-null  int64
 18  monthly_emi_deduction                     300000 non-null  float64
 19  Outstanding EMI Left                      300000 non-null  float64
 20  EMI Going On                              300000 non-null  object
 21  Investments                               300000 non-null  object
 22  Credit Card Utilization                   300000 non-null  object
 23  Churn                                     300000 non-null  bool
dtypes: bool(7), float64(7), int64(2), object(8)
memory usage: 40.9+ MB

In [5]:
# Assuming df is your DataFrame
X = df.iloc[:,1:2].values  
y = df.iloc[:,2].values

SyntaxError: invalid non-printable character U+00A0 (3710410493.py, line 2)

In [7]:
X = df.iloc[:, 1:2].values
y = df.iloc[:, 2].values

In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

 Check for and handle categorical variables
label_encoder = LabelEncoder()
x_categorical = df.select_dtypes(include=['object']).apply(label_encoder.fit_transform)
x_numerical = df.select_dtypes(exclude=['object']).values
x = pd.concat([pd.DataFrame(x_numerical), x_categorical], axis=1).values

# Fitting Random Forest Regression to the dataset
regressor = RandomForestRegressor(n_estimators=10, random_state=0, oob_score=True)

# Fit the regressor with x and y data
regressor.fit(x, y)

IndentationError: unexpected indent (195663527.py, line 5)